{% extends '::administracion.html.twig' %}


{% block navprin %}
    <li><a href="#">Perfil</a></li>
    <li><a href="{{ path('cliente_logout') }}">Cerrar Sesion</a></li>
{% endblock %}

{% block nevegacion %}
    <li class="active"><a href="{{ path('cliente_home') }}">Inicio</a></li>
{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos del Tramite</h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>Numero Interno: </b></td>
                        <td>{{ entity.numeroInterno }}</td>
                    </tr>
                    <tr>
                        <td><b>Numero de Carpeta: </b></td>
                        <td>{{ entity.numeroCarpeta }}</td>
                    </tr>
                    <tr>
                        <td><b>Tipo: </b></td>
                        <td>{{ entity.tipo }}</td>
                    </tr>
                    <tr>
                        <td><b>Cliente: </b></td>
                        <td>{{ entity.cliente }}</td>
                    </tr>
                    <tr>
                        <td><b>Placa: </b></td>
                        <td>{{ entity.placa }}</td>
                    </tr>
                    <tr>
                        <td><b>Numero de C: </b></td>
                        <td>{{ entity.NumeroC }}</td>
                    </tr>
                    <tr>
                        <td><b>Canal: </b></td>
                        <td>{{ entity.canal }}</td>
                    </tr>
                    <tr>
                        <td><b>Fecha de Validacion: </b></td>
                        <td>{{ entity.fechaVC }}</td>
                    </tr>
                    <tr>
                        <td><b>Vista: </b></td>
                        <td>{{ entity.vista }}</td>
                    </tr>
                    <tr>
                        <td><b>Aforo: </b></td>
                        <td>{{ entity.aforo }}</td>
                    </tr>
                    <tr>
                        <td><b>Levante: </b></td>
                        <td>{{ entity.levante }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Documentos Entregados</h3>
                </div>
                <table class="table">
                    <thead>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Fecha Presentacion</th>
                        <th>tipo</th>
                    </thead>
                    {% for tramitedoc in entity.tramiteDocumentos %}
                        <tr>
                            <td>{{ tramitedoc.documento.codigo }}</b></td>
                            <td>{{ tramitedoc.documento.descripcion }}</td>
                            <td>{{ tramitedoc.fechaPresentacion | date('d-m-Y')}}</td>
                            <td>{{ tramitedoc.tipoDocumento }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gastos Realizados por la Empresa</h3>
                </div>
                <table class="table">
                    <thead>
                        <th>Detalle</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                    </thead>
                    <tbody>
                    {% for movimiento in entity.movimientos %}
                        {% if movimiento.tipo == 'EGRESO' %}
                            <tr>
                                <td>{{ movimiento.detalle }}</td>
                                <td>{{ movimiento.fechaCreacion | date('d-m-Y') }}</td>
                                <td>{{ movimiento.monto }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pagos Realizados</h3>
                </div>
                <table class="table">
                    <thead>
                    <th>Detalle</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    </thead>
                    <tbody>
                    {% for movimiento in entity.movimientos %}
                        {% if movimiento.tipo == 'INGRESO' %}
                            <tr>
                                <td>{{ movimiento.detalle }}</td>
                                <td>{{ movimiento.fechaCreacion | date('d-m-Y') }}</td>
                                <td>{{ movimiento.monto }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}